<!DOCT<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Pequenos Passos | Login</title>
  <link rel="stylesheet" href="/src/static/css/login.css" />
   <link rel="icon" type="image/png" href="/SRC/STATIC/IMG/pes-de-bebe.png" />
</head>
<body>
  <!-- Loader -->
   <body class="pagina-login">
  <div id="carregando">
    <div class="pes">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
    </div>
  </div>
   </body>
  <div class="page-wrapper">
    <div class="left-side">
      <img src="/src/static/img/imgfundo.webp" alt="Pequenos Passos" class="img-fundo" />
    </div>

    <div class="right-side">
      <div class="login-box">
        <h3 class="title">Acesse sua Conta</h3>

        <form id="loginForm" novalidate>
          <div class="inputs-row">
            <input type="text" id="username" name="username" placeholder="Email" autocomplete="username" />
            <input type="password" id="password" name="password" placeholder="Senha" autocomplete="current-password" />
          </div>

          <button type="submit" class="btn-signin">Entrar</button>

          <div class="links">
            <a href="/src/template/recuperarsenha.html" class="forgot">Esqueceu ? <span>Email / senha?</span></a>
          </div>

          <div class="signup">
            <a href="/SRC/TEMPLATE/cadastro.html" class="btn-signup">
              <i class="fa-solid fa-user-plus"></i>
             <span>Cadastre-se</span>
            </a>
          </div>

          <div id="error" class="error">Por favor, preencha todos os campos.</div>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <p class="copyright-small">© <span id="year"></span> Pequenos Passos. Todos os direitos reservados.</p>
    Desenvolvido por Alunos PJP SENAC (Gabriel, Kathlen, Maria e Rafaela)
  </footer>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script> 
</body>
<script src="/SRC/STATIC/JS/loader-pezinhos.js"></script>
<script src="/src/static/js/login.js"></script>
</html>
