<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pequenos Passos | Login</title>

  <link rel="stylesheet" href="/SRC/STATIC/CSS/base.css">
  <link rel="stylesheet" href="/SRC/STATIC/CSS/navbar.css">
  <link rel="stylesheet" href="/SRC/STATIC/CSS/layout.css">
  <link rel="stylesheet" href="/SRC/STATIC/CSS/login.css">
  <link rel="stylesheet" href="/SRC/STATIC/CSS/loader.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" type="image/png" href="/SRC/STATIC/IMG/pes-de-bebe.png" />
</head>

<body class="pagina-login">

  <!-- Tela de carregamento -->
  <div id="carregando">
    <div class="pes">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
    </div>
  </div>

  <main class="container">
    <section class="principal">
      <div class="card">
        <h2 class="h1">Entrar</h2>

        <!-- Campos de login -->
        <label class="item">
          E-mail
          <input type="email" id="email" class="input" placeholder="seu@email.com" required>
        </label>

        <label class="item">
          Senha
          <input type="password" id="senha" class="input" placeholder="••••••••" required>
        </label>

        <div class="acoes-principais">
          <button class="btn" id="botaoLogin">Entrar</button>
          <a class="btn neutro" href="/SRC/TEMPLATE/cadastro.html">Cadastrar-se</a>
        </div>

        <p id="mensagemErro" class="mensagem-erro"></p>
      </div>
    </section>
  </main>



  <script src="/SRC/STATIC/JS/nav.js"></script>
  <script src="/SRC/STATIC/JS/loader-pezinhos.js"></script>
  <script src="/SRC/STATIC/JS/login.js"></script>
</body>
</html>
